<IfModule mod_rewrite.c>
Options -Indexes
Options +FollowSymLinks
#RewriteEngine On
#RewriteCond %{HTTP_HOST} ^www\.(.*)
#RewriteRule ^.*$ https://%1/$1 [R=301]

#RewriteCond %{HTTPS} off
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R]

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.*)$ ./index.php [L,PT,NC]
</IfModule>
